{% extends 'core/base.html' %}

{% block content %}
<h1>Available Pets 🐾</h1>

{% if user.is_authenticated %}
    {% if user.profile.role == 'STAFF' or user.profile.role == 'ADMIN' %}
        <p><a href="{% url 'add_pet' %}">Add New Pet</a></p>
    {% endif %}
{% endif %}

<ul>
    {% for pet in pets %}
        <li>
            <a href="{% url 'pet_detail' pet.id %}">
                <strong>{{ pet.name }}</strong>
            </a>
            - {{ pet.breed }} ({{ pet.pet_type }})

            {% if pet.image %}
                <br>
                <img src="{{ pet.image.url }}" width="150" alt="{{ pet.name }}">
                <br>
            {% endif %}

            {% if user.is_authenticated %}
                {% if user.profile.role == 'ADOPTER' %}
                    <a href="{% url 'apply_for_pet' pet.id %}">Apply</a>
                    <a href="{% url 'toggle_favourite' pet.id %}">⭐ Favourite</a>
                {% endif %}

                {% if user.profile.role == 'STAFF' or user.profile.role == 'ADMIN' %}
                    <a href="{% url 'edit_pet' pet.id %}">Edit</a>
                    <a href="{% url 'delete_pet' pet.id %}">Delete</a>
                {% endif %}
            {% endif %}
        </li>
    {% empty %}
        <li>No pets available right now.</li>
    {% endfor %}
</ul>
{% endblock %}